*{
    margin: 0;
    padding: 0;
}
/* nav */
/* nav{
    text-align: right;
    background-color: #05445E;
}
li{
    display: inline-block;
    padding:20px;
    list-style-type: none;
}
.a{
    text-decoration: none;
    color: #FFFFFF;
}
.a:hover{
    color: #75E6DA;
} */
/* nav end */
#background-image{
    width: 100%;
    height: 500px;
    /* background-image: background-image.jp; */
     background-size: cover;
    background-position: center; 

}
 /* top background text */
#local-yatri-text{
    font-family: 'Poppins', sans-serif;
    color:#05445E ;
    font-size: 70px;
    margin-left: 20px;
    margin-top: 5px;
    position: absolute;
}
#rajasthan-text{
    font-family: 'Poppins', sans-serif;
    color: #05445E;
    font-size: 200%;
    margin-left: 120px;
    margin-top: -430px;
    position: absolute;
}
#you-love-to{
    color:#05445E;
    font-family: 'Dancing Script', cursive;
    font-size: 500%;
    margin-left: 22%;
    margin-top: 1%;
    text-decoration: underline;
    position: absolute;
    
}
/* catagories images css */
#catagories-images{
    display: flex;
    flex-direction: row;
    column-gap: 0.1%;
    justify-content: space-evenly;
   
}
.food-image{
    height: 800px;
    width: 625px;
    filter: brightness(80%);

}

/* catagories text css */
.images-text{
    font-size: 2rem;
    color: #FFFFFF;
    position: absolute;
    text-decoration: none;
}
#food-text{
    margin-left: -70%;
    margin-top: 38.5%;
    font-family: 'Poppins', sans-serif;
}
#place-text{
    margin-top: 38.5%;
    font-family: 'Poppins', sans-serif;
}
#market-text{
    margin-top: 38.5%;
    margin-left: 69%;
    font-family: 'Poppins', sans-serif;
}
#food-caption{
    
    margin-left: -70%;
    margin-top: 42%;
    font-family: 'Poppins', sans-serif;
    
}
#place-caption{
    margin-top: 42%;
    font-family: 'Poppins', sans-serif;
}

#market-caption{
    margin-top: 42%;
    margin-left: 69%;
    font-family: 'Poppins', sans-serif;
}
