*{
    margin:0;
    padding: 0;
}
/* nav */
nav{
    background-color: #05445E;
    text-align: right;
}
li{
    display: inline-block;
    padding: 1%;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.a:hover{
    color: #75E6DA;
}
/* nav end */

/* header */
#top-bar{
    width: 100%;
    height: 400px;
    background-color: #189AB4;
}
#lower-bar{
    width: 100%;
    height: 200px;
    background-color: #05445E;
}
#local-yatri-text{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 3.5rem;
    margin-left: 7%;
    margin-top: -35%;
    position: absolute;
}
#rajasthan-text{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2rem;
    margin-left: 10.5%;
    margin-top: -31.5%;
    position: absolute;
}
#jodhpur-header-img{
    width: 35%;
    height: 50%;
    border-radius: 40px;
    border: 10px solid white;
    margin-top: -28%;
    margin-left: 3%;
    position: absolute;
}
#food-text{
    font-family: 'Poppins', sans-serif;
    color: #D4F1F4;
    font-size: 6rem;
    margin-left: 72%;
    margin-top: -16.5%;
    position: absolute;
}
#jodhpur-text{
    font-family: 'Poppins', sans-serif;
    color: #D4F1F4;
    font-size: 5rem;
    margin-left: 74.5%;
    margin-top: -11.5%;
    position: absolute;
}
/* header end */
/* main */
#content{
    width: 50%;
    height: fit-content;
    background-color: #D4F1F4;
    margin-left: 17%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#images{
    width: 96%;
    margin-left: 1%;
    border-radius: 20px;
    box-shadow: 7px 7px 5px grey;
    
}
.center-alligned-text{
    color: #05445E;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}
/* main end */
/* copyright */
#copyright{
    width: 100%;
    height: 100px;
    background-color: #05445E;
}
#copyright-text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #D4F1F4;
    margin-top: -53px;
    text-align: center;
}